In [ ]:
SELECT * FROM crime_scene_report
WHERE city = "SQL City" and date = 20180115 and type = "murder"

In [ ]:
# Esto para acceder a los asesinatos en sql city en y en la fecha

15:48
SELECT * FROM person
WHERE (address_street_name = "Franklin Ave" and name LIKE 'Annabel%') or (address_street_name = 'Northwestern Dr' AND address_number = (
SELECT MAX(address_number)
FROM person
WHERE address_street_name = 'Northwestern Dr'
))
ORDER BY address_number DESC

In [ ]:
# Para ver que dice la entrevista de Morty y Annabel

SELECT * FROM interview
WHERE person_id in (16371 , 14887)

In [ ]:
# Sacamos 2 sospechosos con la matricula 

SELECT * FROM drivers_license
WHERE plate_number LIKE "%H42W%" AND gender = "male"

In [ ]:
# Sacamos el nombre con la licencia de conducir

select * from person
WHERE license_id in (423327,664760)

In [ ]:
# Encontramos el nombre de un sospechoso

SELECT * FROM get_fit_now_member
WHERE person_id in (51739,67318)

In [ ]:
# Confirmamos que el asesino estuvo en el gimnasio cuando Anabel dijo que lo vio

SELECT * FROM get_fit_now_check_in
WHERE membership_id = "48Z55"

In [ ]:
# Miramos a ver a que evento fue el asesino ese dia

select * from facebook_event_checkin
WHERE person_id in (51739,67318)

In [ ]:
# Vemos que personas han ido al evento de facebook

select * from get_fit_now_member
where person_id in (14887,16371,67318)

In [ ]:
# Vemos la entrevista del asesino

SELECT * FROM interview
WHERE person_id = 67318

In [ ]:
# Filtramos por la entrevista del Asesino.

select * from drivers_license
where car_make= "Tesla" and car_model= "Model S" and hair_color= "red" and (height between 65 and 67)

In [ ]:
# Buscamos a esas personas y su numero de seguridad social.

select * from person
where license_id in (202298,291182,918773)

In [ ]:
# Vemos el dinero que tienen en el banco

select * from income
WHERE ssn in (961388910,337169072,987756388)

In [ ]:
# Y vemos si alguna asistio al evento de facebook

select * from facebook_event_checkin
WHERE person_id in (78881,99716)

In [ ]:
# Por lo cual obtenemos que la incitadora es Miranda.